

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="login-container">
            <h1>Login</h1>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="form-login" method="post" action="">
            <label for="">Usuario</label>
            <input type="text">
            <label for="">Senha</label>
            <input type="password">
            <button type="submit">Entrar</button>
        </form>
        <h3>Cadastra-se</h3>
        <p>Ainda não possui conta? Cadastra-se no site</p>
        <a class="button-cadastro" href="">Cadastro</a>
      </div>
     
    </div>
  </div>
</div>