<nav class="nav-container">
    <img src="/assets/img/cat.png" alt="">
    <div class="link-container">
        <a href="#" type="button"data-bs-toggle="modal" data-bs-target="#registerModal">Login</a>
        <a href="" type="button"data-bs-toggle="modal" data-bs-target="#registerModal">Registrar</a>
    </div>
</nav>