*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Navegação */
.nav{
    background-color: #EB6440;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-log{
    margin-left: 5rem;
}
.nav-nome{
    margin-right: 5rem;
    display: flex;
    gap: 2rem;
}

/* Home */

.cats-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.cats-1{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.cats-1 div{
    width: 100%;
   max-height: 50rem;
}
.cats-1 div img{
    width: 100%;
    /* as boradas por dentro */
    outline: solid white 3px;
    /* as bordas por fora */
    /* border: solid white 3px; */
   
}

.cats-2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.cats-2 div{
    width: 100%;
    max-height: 50rem;
}
.cats-2 div img{
    width: 100%;
    height: 100%;
    /* as boradas por dentro */
    outline: solid white 3px;
    /* as bordas por fora */
    /* border: solid white 3px; */
}
.cats-3{
    display: flex;
    justify-content: center;
    width: 100%;
}
.cats-3 div{
    width: 100%;
    max-height: 50rem;
}
.cats-3 div img{
    width: 100%;
    height: 100%;
    /* as boradas por dentro */
    outline: solid white 3px;
    /* as bordas por fora */
    /* border: solid white 3px; */
}